<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="edge"/>
    <test name="Login">
        <classes>
            <class name="com.atestingsites.saucelabs.tests.TestLogin"/>
        </classes>
    </test>
</suite>